@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Shade&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
*,
::before,
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

body {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  height: 100dvh;
  // border: 5px solid pink;
  scroll-snap-align: end;
}

a {
  text-decoration: none;
}

.app {
  $orange: #da702c;
  $darkBlue: #090d38;
  $lightBlue: #115379;
  $silver: #b0b3bb;
  $transitionTime: 0.5s;
  $cuvuBlue: #092d63;

  // $media-mobile: "only screen and (max-width : 600px)";
  $media-tablet: "only screen and (min-width : 768px)";
  $media-desktop: "only screen and (min-width : 1024px)";
  .container {
    width: 100%;
    height: 100dvh;
    position: relative;

    // -__Navbar___
    .navbar {
      display: flex;
      padding: 10px;
      background-color: $darkBlue;
      align-items: center;
      justify-content: space-between;

      .navbar--logo {
        width: 200px;
        max-height: 100px;
        transform: translateX(-30%);

        img {
          width: 100%;
        }
      }

      .navbar--ham {
        img {
          width: 60px;
          height: 60px;
          z-index: 20;
        }

        .navbar--list {
          text-align: left;
          padding-left: 15px;
          list-style: none;
          position: absolute;
          z-index: 20;
          background-color: $darkBlue;
          font-size: 1.5rem;
          line-height: 3rem;
          @media #{$media-tablet} {
            position: relative;
            display: flex;
            gap: 30px;
            align-items: center;
          }
          //hata satir canim boylesine ekledim
          .uparrow,
          .downarrow {
            position: relative;
          }

          .uparrow::after {
            position: absolute;
            top: 2%;
            left: 7rem;

            content: url("./assets/uparrow.png");
          }

          .downarrow::after {
            position: absolute;
            top: 2%;

            left: 7rem;
            content: url("./assets/downarrow.png");
          }

          #kurumsal {
            @media #{$media-tablet} {
              &:hover .sublist--navbar {
                visibility: visible;
                opacity: 1;
                left: 0;
              }
            }
          }

          .sublist--navbar {
            list-style: none;
            padding: 30;
            text-align: left;
            line-height: 3rem;
            z-index: 20;
            width: max-content;
            position: relative;

            a {
              transition: padding 0.4s linear, color 0.4s linear;
            }
            //  TODO SUBLIST .NAVBAR .ITEM BURADA BULUNDUGUNDA TRANSITION EKLE
            // burada transition add  open close arasinda
            @media #{$media-tablet} {
              position: absolute;
              top: 100%;
              background-color: $darkBlue;
              border: 1px solid $silver;
              border-radius: 15px;
              padding: 10px 20px 10px 10px;
              left: -1000px;
              visibility: hidden;
              opacity: 0;
              transition-property: opacity, visibility, left;
            }
          }
          .open {
            display: block;
            // !display yerinde visibility ve
          }
          .close {
            display: none;
          }
          // adding the line above the links in the navbar
          .list--item {
            position: relative;
            a {
              text-decoration: none;
              color: $silver;
              &:hover {
                color: $orange;
              }
            }

            &::before {
              content: "";
              position: absolute;
              background-color: $orange;
              width: 0;
              height: 5%;
              top: -10px;
              left: 50%;
              right: 50%;
              transition-property: left, right, width;
              transition-duration: $transitionTime;
              transition-timing-function: ease-in-out;
            }

            @media #{$media-tablet} {
              &:hover::before {
                width: 100%;
                right: 0;
                left: 0;
              }
              a:hover {
                color: $silver;
              }
              .sublist--navbar {
                a:hover {
                  color: $orange;
                  padding: 10px;
                  //BURADA
                }
              }
            }
          }
        }

        .hide {
          left: -1000px;
          top: 0;
        }
        .show {
          inset: 95px 0;
        }
        .transitionProp {
          transition-duration: $transitionTime;
          transition-timing-function: ease-in-out;
        }
      }
      // - NavBar finished
    }

    // -__Footer__

    footer {
      width: 100%;
      padding: 10px 0;
      background-color: $darkBlue;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .footer--logo {
        width: 160px;
        height: 100px;
        // transform: translateX(-20%);
        img {
          width: 100%;
          height: 100%;
          // border: 1px solid yellow;
        }
      }

      .footer--phone {
        // border: 1px solid green;
        text-align: center;
        p,
        b {
          color: $silver;
          letter-spacing: 1px;

          margin: 5px;
        }
      }

      .footer--icon {
        color: $silver;
        font-size: 24px;
        margin-bottom: 4px;
      }
      .footer--socialMedia {
        text-align: center;
        // border: 1px solid yellow;

        b {
          color: $silver;
        }

        .footer--icons {
          margin-top: 4px;
          display: flex;
          justify-content: space-evenly;
        }
        .footer--icon__social {
          color: $silver;
          transform: scale(1);
          transition-property: color, transform;
          transition-duration: 2s;
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          &:nth-child(1):hover {
            transform: scale(1.5);
            color: blue;
          }
          &:nth-child(2):hover {
            color: red;
            transform: scale(1.5);
          }
          &:nth-child(3):hover {
            color: #3390ec;
            transform: scale(1.5);
          }
        }
      }

      .footer--copyRights {
        color: $silver;
        font-size: 13px;
        .footer--icon {
          font-size: 10px;
          vertical-align: bottom;
        }
      }

      @media #{$media-tablet} {
        flex-direction: row;
        justify-content: space-evenly;
      }
      // -Footer Finished
    }

    // -__homePage__AnaSayfa
    .home--hero {
      position: relative;
      width: 100%;
      height: calc(100dvh - 130px);
      // border: 1px solid red;

      background: url("./assets/backGround.webp"),
        linear-gradient(
          290deg,
          rgba(218, 112, 44, 0.5) 25%,
          rgba(9, 13, 56, 0.5) 66%
        );
      background-blend-mode: darken;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      display: flex;
      align-items: center;

      .writer {
        width: 100%;
        position: relative;
        top: -40px;

        .hero--textBox {
          position: relative;
          width: 200px;
          padding: 40px 0px 40px 40px;

          left: 5%;
          // border: 1px solid $silver;
          border-radius: 15px;
          text-wrap: pretty;
          top: calc(50% - 200px);
          z-index: 2;
          overflow: hidden;

          &::after {
            content: "";
            position: absolute;
            width: 150px;
            height: 200%;
            top: 30%;
            background: linear-gradient(0deg, #0d4275 33%, #28465c 100%);
            border-radius: 11px;
            animation: borderRotate 5s linear infinite;
            z-index: 2;
          }
          &::before {
            position: absolute;
            border-radius: 15px;
            content: "";
            width: 99;
            height: 98%;
            inset: 4px;
            z-index: 1;
            background-color: #090d38;
          }

          @keyframes borderRotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }

          h3 {
            color: #fff;
            font-family: Poppins, sans-serif;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 700;
            text-transform: capitalize;
            position: relative;
            z-index: 3;
          }
        }

        .typing {
          left: 5%;
          position: absolute;
          bottom: 5%;
          width: max-content;
          z-index: 3;
          padding-left: 40px;
          span {
            color: #dbdbf5;
            font-size: 1.2rem;
            font-family: Poppins, sans-serif;
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 1px;
            font-size: 1rem;
            font-weight: 700;
            // Animation options very important
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            border-right: 1px solid #dbdbf5;
            animation: typing 5s steps(29) infinite,
              cursor 0.4s step-end infinite alternate;
          }
        }

        @keyframes cursor {
          50% {
            border-color: transparent;
          }
        }

        @keyframes typing {
          from {
            width: 0;
          }
        }
      }
    }
    // -Servisler
    .services {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      @media #{$media-desktop} {
        justify-content: center;
        align-items: center;
      }

      @keyframes fade-out {
        to {
          opacity: 1;

          scale: 1;
        }
      }

      .services--text {
        opacity: 0;
        scale: 0.6;
        margin: 0 auto;
        text-align: center;
        font-family: Poppins, sans-serif;
        width: 80%;
        position: relative;
        animation: fade-out linear forwards;
        animation-timeline: view();
        animation-range: entry -100px;

        // TODO ON SCROLL THE BEFORE SHOULD BE REMOVED WITH TRANSITION
        &::after {
          content: "";
          position: absolute;
          width: 48px;
          height: 48px;
          top: 100%;
          left: calc(50% - 24px);
          background-color: $cuvuBlue;
          border-radius: 50%;
        }
        &::before {
          content: "";
          position: absolute;
          width: 50px;
          height: 50px;
          top: 100%;
          left: calc(50% - 25px);
          background-color: white;
          border-radius: 50%;
          z-index: 2;

          animation: pulling linear;
          animation-timeline: view();
          animation-range-start: 10px;
        }
        @keyframes pulling {
          70% {
            left: calc(50% + 29px);
          }
        }
      }

      //

      .services--cards {
        background-color: rgba(9, 13, 56, 1);
        margin-top: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding: 0 20px;

        // TODO : ADD BACKGROUND USING BEFORE OR AFTER BEHIND THE SLIDER LOGO
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          opacity: 0.6;
          position: absolute;
          background: url("./assets/lamp.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right bottom;
          display: inline-block;
        }

        padding: 12px;
        @media #{$media-desktop} {
          width: 80%;
          box-shadow: 0 0 0 100vw $darkBlue;
          clip-path: inset(0 -100vw);
        }

        .serviceCard {
          text-align: center;
          padding: 20px 10px;
          margin: 0 12px;

          h4 {
            color: $orange;

            font-size: large;
            font-weight: bold;
          }
          p {
            color: whitesmoke;
            font-weight: 900;
          }

          .serviceCard--icon {
            font-size: 1.5rem;
            color: $silver;
          }
        }
      }
    }
    .services--explain {
      height: 80dvh;
      scroll-snap-align: center;
      text-align: center;
      img {
        height: 300px;
        max-width: 100%;
        object-fit: cover;
        filter: drop-shadow(20px 20px 5px 50px red);
        object-position: center;
        clip-path: polygon(0 0, 100% 16%, 72% 90%, 0% 100%);
      }

      h2,
      p {
        font-family: "Dosis", serif;
      }

      p {
        padding: 0 20px;
      }
      @media #{$media-desktop} {
        height: 100dvh;
        display: flex;
        align-items: center;

        img {
          display: block;

          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        div {
          padding: 0 10%;
          p {
            text-align: left;
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }

        &:nth-of-type(even) {
          flex-direction: row-reverse;
        }
      }
    }



    // Duyuru Cart 
    .duyuruCart {
      height: 370px;
      text-align: center;
      padding: 20px 10px;

      .duyuruCart--imgUp {
        width: 100%;
        height: 40%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .duyuruCart--textDown {
        // border: 2px solid yellow;
        text-align: center;
        padding: 0 10px 10px;
        p {
          margin-top: 0.5rem;
          color: black;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          display: -webkit-box;
        }

        p,
        h3 {
          font-family: Poppins, sans-serif;
        }

        .duyuruCart--date {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: Poppins;

          button {
            outline: none;
            border: none;
            padding: 10px;
            font-weight: 700;
            background-color: $silver;
            color: $darkBlue;
            transition: box-shadow 0.4s linear;
            &:hover {
              box-shadow: inset 5em 5em $darkBlue;
              color: $silver;
            }
          }
        }
      }
    }





    // - ___Duyurular__
    .duyurular {
      scroll-snap-align: none;
      .duyurular--title {
        padding: 0 1.5rem;
        font-family: 'Poppins',sans-serif;
       .duyurular--title--text {
        h2 {
          color: $darkBlue;
        }
        
        div {
          width: 3rem;
          height: 2px;
          background-color: #090d38;
          border-radius: 5px;

          span {
            width: 10px;
            height: 2px;
            outline: none;
            border: none;
            display: block;
            border-radius: 5px;
            background-color: white;
            animation: going 1s ease-in-out forwards infinite;
          }
        }
        
        @keyframes going {
          0% {
            margin-inline: 0;
          }
          100% {
            margin-inline: 100%;
          }
        }
       }
        button{
          color: $silver;
          background-color: $darkBlue;
          border: none;
          outline: none;
          padding: 10px ;
          width: max-content;
          height:40px;
          border-radius: 20px;
          display: flex;
          font-weight: 700;
          justify-content: space-between;
          align-items: center;
          div{
            color: $silver;
            font-weight: 700;
            width: 1.2rem;
            height: 20px;
            margin-left: 10px;
            background-color: $cuvuBlue;
            border-radius: 50%;
            display: grid;
            place-content: center;
          }


          &:hover {
            background-color: $silver;
            color: $darkBlue;
          }

          &:hover div{
            background-color: $darkBlue
          }
        }

        @media #{$media-tablet} {
          display: flex;
          align-items: center;
          justify-content: space-between;
          
        }
      }
      .duyuru--cards {
        width: 100%;
        display: flex;
        // border: 1px solid red;
        padding: 12px;
        @media #{$media-desktop} {
          width: 80%;
          margin: 0 auto;
        }


      }
    }

    

    // title component

    .titleComponent{
      width: 100dvw;
      height: max(300px,10rem);
      // border: 1px solid red;
      position: relative;
      z-index: 10;
      
      background:linear-gradient(-90deg,$darkBlue,$cuvuBlue);
      // transform: skewY(-20deg);
      clip-path:polygon(0% 0% , 100% 0% , 100% 80% , 0% 100%);
      h3{
        color: $silver;
      }

      span{
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        // border: 1px solid red;
        inset: 0;
        display: grid;
        place-content: center;
        font-size: 5rem;
        color: $silver;
        font-family: 'Bungee Shade', sans-serif;
      }
    }
    // - Duyurular Sayfasi 
    //blogPage bir section
    .blogPage {
      scroll-snap-align: none;
      height: auto;
      .grid--elements{
        padding: 10px;
        display: grid;
        .duyuruCart{
          border: 2px solid $lightBlue;
          border-radius: 12px;
        }
        @media #{$media-tablet} {
          
          overflow: hidden;
          gap: 30px;
          grid-template-columns: repeat(3,1fr);
          grid-template-rows: repeat(4,1fr);
          
        }
      }
    }
  }
}
